@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

body {
  font-family: "Open Sans", sans-serif;
}

.app-header {
  text-align: center;
}


.app-body {
  margin: 0rem 2rem 0rem 2rem;
}

/* styles.css */

.App {
  font-family: 'Arial', sans-serif;
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}

legend {
  font-size: 1.2em;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 1em;
  border: 1px solid black;
  margin: 1em;
  transition: transform 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.05);
}

/* Animation for checkboxes and radio buttons */
input[type="checkbox"],
input[type="radio"] {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #333;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

input[type="checkbox"]:checked,
input[type="radio"]:checked {
  background-color: #4caf50;
  border-color: #4caf50;
}

input[type="checkbox"]:checked::before,
input[type="radio"]:checked::before {
  content: '\2713';
  font-size: 14px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

